@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
    margin: 0;
    background-color: #090b1a;
}
h1, p {
    font-family: 'Inter', sans-serif;
}
/* h1 {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
} */
.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    margin: 5%;
    display:flex;
    justify-content: center;
    background-color: #1b1938;
    border-radius: 8px;
    max-width: 1110px;
    width: 100%;
    max-height: 446px;
}
.img-mobile {
    display: none;
}
.img-desk {
    border-radius: 0 8px 8px 0;
    max-width: 540px;
    width: 100%;
}
.text-container {
    margin: 6.4% 10.4% 6% 6.5%; 
}
h1 {
    margin: 0;
    padding-bottom: 6.8%;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
}
p {
    margin: 0;
    color: #ffffffbf;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
@media screen and (max-width: 768px){
    .img-mobile {
        display: block;
    }
    .img-desk {
        display: none;
    }
    .card {
        flex-direction: column;
        max-height: 780px;
    }
}
@media screen and (max-height: 428px){
    .container {
        display: block;
    }
}