@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}
body {
    margin: 0;
    background-color: #090b1a;
}
.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    margin: 5%;
    display:flex;
    justify-content: center;
    background-color: #1b1938;
    border-radius: 8px;
    max-width: 1110px;
    width: 100%;
    max-height: 446px;
}
.img-mobile {
    display: none;
}
.img-desk {
    border-radius: 0 8px 8px 0;
    max-width: 540px;
    width: 100%;
}
.text-container {
    margin: 7.1% 11.1% 6% 6.6%; 
}
@media screen and (max-width: 768px){
    .img-mobile {
        display: block;
    }
    .img-desk {
        display: none;
    }
    .card {
        flex-direction: column;
        max-height: 780px;
    }
}
@media screen and (max-height: 428px){
    .container {
        display: block;
    }
}